
.counter{
    text-align: center;
    border: 3px solid aqua;
    border-radius: 5px;
    width: 300px;
    height: 200px;
    margin: 50px;
    margin-top: 200px;
}

.inputCounter{
    
    height: 80px;
    width: 240px;
    background-color: aqua;
    font-size: 50px;
    border: 3px solid aqua;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 10px;
}

.buttonBox{
    border: 3px solid aqua;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;

}
.limit{
    color: red;
}
.inputTitile{
    color: aqua;
}
.input{
    margin: 20px;

}

